html, body {
	padding: 0;
	margin: 0;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-1 {
	flex: 0 0 33.333333%;
}

.flex-2 {
	flex: 0 0 66.666667%;
}

.border-right {
	border-right: 1px solid #d8d8d8;
}
.border-bottom {
	border-bottom: 1px solid #d8d8d8;
}

.text-center {
	text-align: center;
}