html, body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f2f3f5;
}

.w-100 {
	width: 100%;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-0 {
	flex: 1;
}

.flex-1 {
	flex: 0 0 33.333333%;
}

.flex-2 {
	flex: 0 0 66.666667%;
}

.border-right {
	border-right: 1px solid #d8d8d8;
}
.border-bottom {
	border-bottom: 1px solid #d8d8d8;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.popup-fullscreen {
	width: 100%;
	height: 100%;
	height: 100vh;
	background-color: white;
}

.p-8 {
	padding: 8px;
}

.bg-white {
	background-color: white;
}

.text-grey {
	color: #d9d9d9;
}

.text-danger {
	color: #ef4336;
}

.text-inverse {
	background-color: #333;
	color: white;
}